$fz: 50px;
$color_1: #4cc407;


html{
   body{
      margin: 0;
      padding: 0;
      border: 0;
      background-color: black;
      
   }
}

.wraper{
   
}
.container{
   
}

ul{
   li{
      list-style: none;

   }
   a{
      text-decoration: none;
      color: wheat;
   }
}


.header {

   
   border: solid 4px red;
}
.container {
   width: 1230px;
   margin: 0 auto;
}
.header__body {
  
}
.header__logo {
}
.header__burger {
}
.header__menu {
}
.header__list {
}
.header__link {
}